@font-face {
  font-family: 'Upheavtt';
  src: local('Upheavtt'), url(./fonts/upheavtt.ttf) format('truetype');
}

body{
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body *{
  font-family: "Upheavtt";
}
