@font-face {
  font-family: 'Upheavtt';
  src: local('Upheavtt'), url(./fonts/upheavtt.ttf) format('truetype');
}

body{
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body *{
  font-family: "Upheavtt";
}
