.container{
    height: 96vh;
    width: 96vw;
    padding: 2vh 2vw 2vh 2vw;
    background-image: url("../../assets/board.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    align-items: center;
    justify-items: center;

    display: grid;
    grid-template-columns: 40% 5% 5% 5% 5% 40%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: 
        "p1h p1h p1h p2h p2h p2h"
        "p1f p1f p1f p2f p2f p2f"
        "tc lc lc dice dice mc"
        "p3f p3f p3f p4f p4f p4f"
        "p3h p3h p3h p4h p4h p4h"

}

.dice{
    grid-area: dice;
}

.lootCards{
    grid-area: lc;
}

.treasureCards{
    grid-area: tc;
}

.monsterCards{
    grid-area: mc;
}

.player1Hand, .player2Hand, .player3Hand, .player4Hand{

    width: 100%;
    height: 100%;
}

.player1Hand:hover, .player2Hand:hover, .player3Hand:hover, .player4Hand:hover{
    background-color: #0000000d;
}

.player1Field, .player2Field, .player3Field, .player4Field{
    width: 100%;
    height: 100%;
}

.player1Field:hover, .player2Field:hover, .player3Field:hover, .player4Field:hover{
    background-color: #0000000d;
}

.player1Hand{
    grid-area: p1h;

}

.player2Hand{
    grid-area: p2h;
    
}

.player3Hand{
    grid-area: p3h;
}

.player4Hand{
    grid-area: p4h;
}

.player1Field{
    grid-area: p1f;
}

.player2Field{
    grid-area: p2f;
}

.player3Field{
    grid-area: p3f;
}

.player4Field{
    grid-area: p4f;
}