
.card{
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    margin: 0;
    user-select: none;
}

.card img{
    user-select: none;
    height: 17vh;
}


.card:hover{
    transform: scale(1.5);
}

.tilted{
    transform: rotate(90deg);
    width: fit-content;
    height: fit-content;
}

.cardMenu{
    display: none;
    width: 100%;
    justify-content: space-between;
}

.card:hover .cardMenu{
    display: flex;
}

.counterDisplay{
    background-color: brown;
    width: 18px;
    text-align: center;
    border-radius: 2px;
}