.numberDisplay{
    width: min(10vh, 10vw);
    line-height: min(10vh, 10vw);

    border-color: rgb(99, 0, 0);
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;

    background-color: darkred;

    text-align: center;
    font-size: 60px;

    box-shadow: 0px 10px rgb(133, 0, 0);

    margin: auto;
    margin-bottom: 10px;
    user-select: none;
}

.buttonContainer{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}